<div class="row">
  <div class="col-sm-6 pt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Search</h5>
        <ul class="card-text">
          <li>Search for Git Users</li>
          <li>View user profile details</li>
          <li>Navigate to Git user page</li>
          <li>View Followers and Following details</li>
        </ul>
        <a routerLink="/search" class="btn btn-primary">Access Search</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 pt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">History</h5>
        <ul class="card-text">
          <li>View your recent search histoy</li>
          <li>Mark your favourite search for ease of access</li>
          <li>Refine your search to view only your favourites</li>
          <li>Delete unwanted search results</li>
        </ul>
        <a routerLink="/history" class="btn btn-primary">Access History</a>
      </div>
    </div>
  </div>
</div>
